.new-item {
    height: 320px;
    width: 300px;
    margin-right: 10px;
    margin-bottom: 20px;

}
.new-item_text {
    height: 160px;
    display: -webkit-box;
    font-size: 15px;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;}

 .btn {
    color: #000;
    background-color: #10b3be;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    padding: 12px 15px 11px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px #fff;
    border: none;
    transition: all 0.5s ease 0s;
}


 h5{
     font-weight: bold;
 }
 .portal{
     background: #0a0a26;
 }
.form-container{
    width: 300px;
    margin-right: 10px;
    margin-bottom: 20px;
    background: #ecf0f3;
    font-family: 'Nunito', sans-serif;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}
body{
    background: #ebf4f9;
}
.bg{
    background:#ebf4f9;
}
li {
    list-style-type: none;
}
.nav-item {
    margin-right: 10px;
}
